.container{
    display: grid;
    grid-template-areas: 
    'header header  header'
    'main   main  aside'
    'footer footer  footer';
}

.header{
    grid-area:header;
    background-color: #1E90FF;
}

.main{
    grid-area:main;
    background-color: #00FFFF;
    height: 150px;
}

.aside{
    grid-area:aside;
    background-color: #7FFFD4;
}

.footer{
    grid-area:footer;
    background-color: #FFE4C4;

}